<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="bridge"/>
    <title>Bridge</title>
    <link rel="stylesheet" href="/static/css/element-plus@2.2.14/index.css" />
  </head>
  <body>
    <div id="root"></div>
    <script type="importmap">
    {
      "imports": {
        "vue": "/static/js/lib/vue@3.2.37/vue.esm-browser.prod.js",
        "vue-router": "/static/js/lib/vue-router@4.1.4/vue-router.esm-browser.js",
        "@vue/devtools-api": "/static/js/lib/vue/devtools-api/index.js",
        "element-plus": "/static/js/lib/element-plus@2.2.14/index.full.mjs"
      }
    }
    </script>
    <script type="module" src="/static/js/index.js"></script>
  </body>
</html>